/.gradle/
/.settings/
/build/
/navit/android/.externalNativeBuild/
/navit/android/build/
/.cproject
/.gitk-tmp.*
/.project
/CMakeLists.txt.user*
/navit/android/cmake_plugin_settings.txt
/nbproject/
/navit/android/checkstyle
**/.DS_Store
/navit/SWIGTYPE*
/navit/icons/*.h
/navit/icons/*.xbm
/navit/Images.xcassets
/navit/attr_name.java
/navit/default_flags.java
/navit/example.java
/navit/exampleJNI.java
/navit/graphics/cocoa/graphics_cocoa.m.old
/navit/icons/headers.txt
/navit/icons/tpms.xcf
/navit/iphone/downloader/Downloader.xcodeproj/project.xcworkspace/
/navit/iphone/downloader/Downloader.xcodeproj/xcuserdata/
/navit/item_name.java
/navit/maps/CMakeLists.txt.orig
/taginfo.rtf
/navit/btheadup/nordicmodule/nordic/
/navit/plugin/btheadup/nordicmodule/nordic/
/navit/ZoneDetect/
*.o
*.d
/navit/item_wrap.c
/navit/attr_wrap.c
/navit/btheadup/imageitembuilder/build/
/navit/builtin.c
/navit/sunrisesetcalculator.c
/navit/sunrisesetcalculator.h
